<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{../css/admin_styles.css}">
</head>
<body>
    <div class="header">
        <h1>ADMIN Dashboard</h1>
    </div>
    <div class="container">
        <h2>Welcome, [[${user.getFullname()}]]</h2>
        
        <span sec:authorize="isAuthenticated">
            <a th:href="@{/logout}">Logout</a>            
        </span>
        
        <!-- Quản lý Truyện -->
        <div class="admin-options">
            <h3>Quản lý Truyện</h3>
            <ul>
                <li><a th:href="@{/admin/stories}">Xem danh sách truyện</a></li>
                <li><a th:href="@{/admin/story/new}">Thêm truyện mới</a></li>
            </ul>
        </div>
    </div>
</body>
</html>