<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../css/header.css}">
    <link rel="stylesheet" th:href="@{/css/chapter-details.css}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title th:text="${chapter.title}"></title>
    <script th:src="@{../js/notification.js}"></script>
</head>
<body>
    <div th:replace="header :: header"></div>
    <div class="header">
        <li>
            <a th:href="@{/}" class="nav-link" tabindex="0">
                <i class="fas fa-house"></i> Home
            </a>
        </li>
        <a th:href="@{/story-info/{storyId}(storyId=${storyId})}" th:text="'/ ' + ${storyTitle}"></a>
        <a href="#" th:text="'/ ' + ${chapter.title}"></a>
    </div>
    <button id="editChapterButton" onclick="openEditModal()" class="edit-button"
            th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
        Chỉnh sửa
    </button>
<div class="tempt">
    <div class="chapter-content">
        <h1 class="story-title" th:text="${storyTitle}"></h1>
        <h2 class="chapter-title">
            <span th:text="${chapter.title}"></span><span th:if="${chapter.content}!=''">:</span> 
            <span th:text="${chapter.content}"></span>
        </h2>
    </div>
    <div class="navigation">
        <span th:if="${prevChapterId != null}">
            <a th:href="@{/chapter/{id}(id=${prevChapterId})}" class="prev-chapter">Chương trước</a>
        </span>
        <span class="toc-icon" onclick="openModal()"><i class="fa-solid fa-list"></i></span>
        <span th:if="${nextChapterId != null}">
            <a th:href="@{/chapter/{id}(id=${nextChapterId})}" class="next-chapter">Chương tiếp</a>
        </span>
    </div>    
</div>
    <div class="chapter-content">
        <div class="voice-controls">
            <button class="tts-button" onclick="speakChapterContent()">
                <i class="fas fa-volume-up"></i>
                <span>Đọc nội dung</span>
            </button>
            <button class="tts-button" onclick="pauseReading()">
                <i class="fas fa-pause"></i>
                <span>Tạm dừng</span>
            </button>
            <button class="tts-button" onclick="resumeReading()">
                <i class="fas fa-play"></i>
                <span>Tiếp tục</span>
            </button>
            <button class="tts-button" onclick="stopReading()">
                <i class="fas fa-stop"></i>
                <span>Dừng</span>
            </button>
            <button class="tts-button speed-control" onclick="changeSpeed()">
                <span>Tốc độ:</span>
                <span id="speedLabel">1x</span>
            </button>
        </div>                              
        <p th:utext="${formattedContent}" id="format-content"></p>        
    </div>
<div class="tempt">
    <div class="navigation">
        <span th:if="${prevChapterId != null}">
            <a th:href="@{/chapter/{id}(id=${prevChapterId})}" class="prev-chapter">Chương trước</a>
        </span>
        <span class="toc-icon" onclick="openModal()"><i class="fa-solid fa-list"></i></span>
        <span th:if="${nextChapterId != null}">
            <a th:href="@{/chapter/{id}(id=${nextChapterId})}" class="next-chapter">Chương tiếp</a>
        </span>
    </div>    
    
    <div class="back-link-container">
        <a th:href="@{/story-info/{storyId}(storyId=${storyId})}" class="back-link">Quay lại danh sách chương</a>
    </div>
</div>    
    <!-- Modal -->
    <div id="chapterModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <ul>
                <li th:each="chapter : ${chapterList}">
                    <a th:href="@{/chapter/{id}(id=${chapter.id})}">
                        <span th:text="${chapter.title}"></span><span th:if="${chapter.content != ''}">:</span>
                        <span th:text="${chapter.content}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="editChapterModal" class="edit-modal">
        <div class="edit-modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <h2>Chỉnh sửa chương</h2>
            <form action="/editChapter" method="post">
                <input type="hidden" name="chapterId" th:value="${chapter.id}" />
    
                <div>
                    <label for="edit-title">Tiêu đề chương:</label>
                    <input type="text" id="edit-title" name="title" th:value="${chapter.title}" required />
                </div>
    
                <div>
                    <label for="edit-content">Nội dung tóm tắt:</label>
                    <input type="text" id="edit-content" name="content" th:value="${chapter.content}" />
                </div>
    
                <div>
                    <label for="edit-longContent">Nội dung:</label>
                    <textarea id="edit-longContent" name="longContent" required th:text="${chapter.longContent}"></textarea>
                </div>
    
                <button type="submit">
                    Lưu thay đổi
                </button>
            </form>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById('chapterModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('chapterModal').style.display = "none";
        }

    </script>

    <script>
        function openEditModal() {
            document.getElementById('editChapterModal').style.display = "block";
        }

        function closeEditModal() {
            document.getElementById('editChapterModal').style.display = "none";
        }

        
        window.onclick = function(event) {
            var chapterModal = document.getElementById('chapterModal');
            var editModal = document.getElementById('editChapterModal');

            if (event.target == chapterModal) {
                chapterModal.style.display = "none";
            }

            if (event.target == editModal) {
                editModal.style.display = "none";
            }
        }
    </script>


    <script th:src="@{../js/search.js}"></script>

    <script>
        let utterance = null; 
        let currentRate = 1;
        function speakChapterContent() {
            if (utterance) {
                speechSynthesis.cancel();
            }

            const content = document.getElementById("format-content").innerText;

            if ('speechSynthesis' in window) {
                utterance = new SpeechSynthesisUtterance(content);
                utterance.lang = 'vi-VN'; 
                utterance.rate = currentRate; 
                utterance.pitch = 0.01; 

                window.speechSynthesis.speak(utterance);

                utterance.onend = function () {
                    console.log("Đọc xong nội dung!");
                };
            } else {
                alert("Trình duyệt của bạn không hỗ trợ đọc văn bản!");
            }
        }

        function pauseReading() {
            if ('speechSynthesis' in window && speechSynthesis.speaking) {
                speechSynthesis.pause();
                console.log("Tạm dừng đọc!");
            }
        }

        function resumeReading() {
            if ('speechSynthesis' in window && speechSynthesis.paused) {
                speechSynthesis.resume();
                console.log("Tiếp tục đọc!");
            }
        }

        function stopReading() {
            if ('speechSynthesis' in window && speechSynthesis.speaking) {
                speechSynthesis.cancel();
                console.log("Dừng đọc!");
            }
        }

        function changeSpeed() {
            if (currentRate === 1) {
                currentRate = 1.5;
                document.getElementById("speedLabel").textContent = "1.5x";
            } else if (currentRate === 1.5) {
                currentRate = 2;
                document.getElementById("speedLabel").textContent = "2x";
            } else {
                currentRate = 1;
                document.getElementById("speedLabel").textContent = "1x";
            }
            console.log(`Tốc độ đọc: ${currentRate}x`);
            if ('speechSynthesis' in window && speechSynthesis.speaking) {
                speechSynthesis.cancel();  
                utterance.rate = currentRate;
                setTimeout(function() {
                    speakChapterContent();
                }, 200); 
            }
        }

        window.addEventListener("beforeunload", function () {
            if ('speechSynthesis' in window) {
                speechSynthesis.cancel();
                console.log("Đã dừng đọc vì người dùng rời khỏi trang!");
            }
        });
    </script>
    

</body>
</html>
