<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../css/category.css}">
    <link rel="stylesheet" th:href="@{../css/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Truyện hay - Đọc truyện online</title>
    <script>
        function loadContent(page) {
            fetch(page)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }
    </script>
    <script th:src="@{../js/notification.js}"></script>
</head>
<body>
    <div th:replace="header :: header"></div>
    <main>
        <h1 class="title"><span th:text="${listname}"></span></h1>
        <div th:if="${message}" class="no-story-message">
            <p th:text="${message}">No available story</p>
        </div>
        <ul class="story-list" th:if="${not #lists.isEmpty(stories)}">
            <li th:each="story : ${stories}" class="story-item">
                <img th:src="${story.coverImage}" class="story-image">
                <a class="story-details" th:href="@{/story-info/{id}(id=${story.id})}">
                    <span class="story-title" th:text="${story.title}">Tên truyện</span>
                    <span class="author" th:text="${story.author}">Tên tác giả</span>
                    <div class="tags" th:if="${story.tags != null and story.tags != ''}">
                        <span th:each="tag : ${story.tagList}" class="tag" th:text="${tag}">Tag</span>
                    </div> 
                    <div class="chapter" th:text="${story.latestChapterTitle}">Chương mới nhất</div>
                </a>
            </li>
        </ul>
        <div id="pagination" class="pagination-container">
            <button th:if="${currentPage > 0}"
                th:data-page="${currentPage - 1}" 
                th:data-base-path="${basePath}"
                onclick="loadPage(this)" 
                class="pagination-button">
                Trang trước
            </button>

            <span class="pagination-item">Trang <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span></span>
        
            <button th:if="${currentPage < totalPages - 1}"
                    th:data-page="${currentPage + 1}" 
                    th:data-base-path="${basePath}"
                    onclick="loadPage(this)" 
                    class="pagination-button">
                Trang sau
            </button>
        </div>
    </main>

    <script th:src="@{../js/search.js}"></script>

    <script>
        function loadPage(button) {
            localStorage.setItem('scrollPosition', window.scrollY);
            const page = button.getAttribute('data-page');
            const basePath = button.getAttribute('data-base-path');
            window.location.href = `${basePath}?page=${page}`;
        }
        window.onload = function() {
            const savedScrollPosition = localStorage.getItem('scrollPosition');
            
            if (savedScrollPosition !== null) {
                window.scrollTo(0, savedScrollPosition);  
                localStorage.removeItem('scrollPosition');  
            }
        }; 
    </script>
</body>
</html>
