<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{../css/we_style.css}">
    <link rel="stylesheet" th:href="@{../css/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{../css/user_styles.css}">
    <script>
        function loadContent(page) {
            fetch(page)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }
    </script>
    <script th:src="@{../js/notification.js}"></script>
</head>
<body>
    <div th:replace="header :: header"></div>
    
    <div class="profile-container">
        <div th:replace="left-section-user :: left-section-user"></div>
        
        <div class="right-section">
            <h2>Danh Sách Truyện Yêu Thích</h2>
            <div th:if="${#lists.isEmpty(favoriteStories)}">
                <p>Không có truyện yêu thích nào!</p>
            </div>
            <div th:each="story : ${favoriteStories}">
                <div class="story-item">
                    <img th:src="@{${story.coverImage}}" alt="Ảnh bìa của truyện" class="story-image"/>
                    <p><strong>Tên truyện:</strong> <span th:text="${story.title}"></span></p>
                    <p><strong>Tác giả:</strong> <span th:text="${story.author}"></span></p>
                    <p><strong>Thể loại:</strong> <span th:text="${story.category}"></span></p>
                    <a th:href="@{/story-info/{storyId}(storyId=${story.id})}">Xem chi tiết</a>
                </div>
            </div>
        </div>
        
    </div>

    <script th:src="@{../js/search.js}"></script>
</body>
</html>