<nav th:fragment="header">
    <ul>
        <li><a href="/home"><img style="width:120px; height:40px;" src="\image\logo.png" alt="Logo"></a></li>
        <li>
            <input type="text" placeholder="Tìm truyện" id="search-box">
            <i class="fas fa-search"></i>
            <ul id="suggestions" style="list-style-type: none; padding: 0; position: absolute; background: white; width: 300px; display: block;"></ul>
        </li>
        <li class="sub">
            <a href="#" class="nav-link" tabindex="0">Lọc truyện<i class="fas fa-sort-down"></i></a>
            <form class="filter-group" method="get" action="/list/filter">
                <h3>Trạng Thái:</h3>
                <div class="checkbox-group">
                    <label><input type="radio" name="status" value="completed"> Full</label>
                    <label><input type="radio" name="status" value="in-progress"> Đang ra</label>
                </div>
                <h3>Số Chương:</h3>
                <div class="checkbox-group">
                    <label><input type="radio" name="chapters" value="<50"> &lt;50</label>
                    <label><input type="radio" name="chapters" value="50-100"> 50-100</label>
                    <label><input type="radio" name="chapters" value="100-200"> 100-200</label>
                    <label><input type="radio" name="chapters" value="200-500"> 200-500</label>
                    <label><input type="radio" name="chapters" value="500-1000"> 500-1000</label>
                    <label><input type="radio" name="chapters" value=">1000"> &gt;1000</label>
                </div>
                <h3>Sắp Xếp:</h3>
                <div class="checkbox-group">
                    <label><input type="radio" name="sort" value="old"> Cũ nhất</label>
                    <label><input type="radio" name="sort" value="new"> Mới nhất</label>
                    <label><input type="radio" name="sort" value="views"> Xem nhiều</label>
                </div>
                <h3>Thể Loại:</h3>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="categories" value="Bách Hợp"> Bách Hợp</label>
                    <label><input type="checkbox" name="categories" value="Cổ Đại"> Cổ Đại</label>
                    <label><input type="checkbox" name="categories" value="Cung Đấu"> Cung Đấu</label>
                    <label><input type="checkbox" name="categories" value="Đam Mỹ"> Đam Mỹ</label>
                    <label><input type="checkbox" name="categories" value="Điền Văn"> Điền Văn</label>
                    <label><input type="checkbox" name="categories" value="Đoản Văn"> Đoản Văn</label>
                    <label><input type="checkbox" name="categories" value="Đô Thị"> Đô Thị</label>
                    <label><input type="checkbox" name="categories" value="Đông Phương"> Đông Phương</label>
                    <label><input type="checkbox" name="categories" value="Dị Giới"> Dị Giới</label>
                    <label><input type="checkbox" name="categories" value="Dị Năng"> Dị Năng</label>
                    <label><input type="checkbox" name="categories" value="Gia Đấu"> Gia Đấu</label>
                    <label><input type="checkbox" name="categories" value="Hài Hước"> Hài Hước</label>
                    <label><input type="checkbox" name="categories" value="Hiện Đại"> Hiện Đại</label>
                    <label><input type="checkbox" name="categories" value="Huyền Huyễn"> Huyền Huyễn</label>
                    <label><input type="checkbox" name="categories" value="Khoa Huyễn"> Khoa Huyễn</label>
                    <label><input type="checkbox" name="categories" value="Kiếm Hiệp"> Kiếm Hiệp</label>
                    <label><input type="checkbox" name="categories" value="Lịch Sử"> Lịch Sử</label>
                    <label><input type="checkbox" name="categories" value="Linh Dị"> Linh Dị</label>
                    <label><input type="checkbox" name="categories" value="Mạt Thế"> Mạt Thế</label>
                    <label><input type="checkbox" name="categories" value="Ngôn Tình"> Ngôn Tình</label>
                    <label><input type="checkbox" name="categories" value="Nữ Cường"> Nữ Cường</label>
                    <label><input type="checkbox" name="categories" value="Nữ Phụ"> Nữ Phụ</label>
                    <label><input type="checkbox" name="categories" value="Phương Tây"> Phương Tây</label>
                    <label><input type="checkbox" name="categories" value="Quân Sự"> Quân Sự</label>
                    <label><input type="checkbox" name="categories" value="Quan Trường"> Quan Trường</label>
                    <label><input type="checkbox" name="categories" value="Sắc"> Sắc</label>
                    <label><input type="checkbox" name="categories" value="Sủng"> Sủng</label>
                    <label><input type="checkbox" name="categories" value="Thám Hiểm"> Thám Hiểm</label>
                    <label><input type="checkbox" name="categories" value="Tiên Hiệp"> Tiên Hiệp</label>
                    <label><input type="checkbox" name="categories" value="Tổng Tài"> Tổng Tài</label>
                    <label><input type="checkbox" name="categories" value="Trinh Thám"> Trinh Thám</label>
                    <label><input type="checkbox" name="categories" value="Trọng Sinh"> Trọng Sinh</label>
                    <label><input type="checkbox" name="categories" value="Xuyên Không"> Xuyên Không</label>
                    <label><input type="checkbox" name="categories" value="Xuyên Nhanh"> Xuyên Nhanh</label>
                    <label><input type="checkbox" name="categories" value="Việt Nam"> Việt Nam</label>                    
                    <label><input type="checkbox" name="categories" value="Khác"> Khác</label>
                </div>
               <br> <button class="filter-button">Lọc Truyện</button></div></li>
            </form>
        </li>
        
        <li class="sub">
            <a href="#" class="nav-link" tabindex="0">Thể loại<i class="fas fa-sort-down"></i></a>
            <div class="submenu">
                <ul>
                    <li><a th:href="@{/category/Tiên Hiệp}">Tiên Hiệp</a></li>
                    <li><a th:href="@{/category/Kiếm Hiệp}">Kiếm Hiệp</a></li>
                    <li><a th:href="@{/category/Ngôn Tình}">Ngôn Tình</a></li>
                    <li><a th:href="@{/category/Đam Mỹ}">Đam Mỹ</a></li>
                    <li><a th:href="@{/category/Võng du}">Võng du</a></li>
                    <li><a th:href="@{/category/Khoa Huyễn}">Khoa Huyễn</a></li>
                    <li><a th:href="@{/category/Hệ Thống}">Hệ Thống</a></li>
                    <li><a th:href="@{/category/Huyền Huyễn}">Huyền Huyễn</a></li>
                    <li><a th:href="@{/category/Dị Giới}">Dị Giới</a></li>
                    <li><a th:href="@{/category/Dị Năng}">Dị Năng</a></li>
                    <li><a th:href="@{/category/Quân Sự}">Quân Sự</a></li>
                    <li><a th:href="@{/category/Lịch Sử}">Lịch Sử</a></li>
                    <li><a th:href="@{/category/Xuyên Không}">Xuyên Không</a></li>
                    <li><a th:href="@{/category/Xuyên Nhanh}">Xuyên Nhanh</a></li>
                    <li><a th:href="@{/category/Trọng Sinh}">Trọng Sinh</a></li>
                    <li><a th:href="@{/category/Trinh Thám}">Trinh Thám</a></li>
                    <li><a th:href="@{/category/Thám Hiểm}">Thám Hiểm</a></li>
                    <li><a th:href="@{/category/Linh dị}">Linh dị</a></li>
                    <li><a th:href="@{/category/Sắc}">Sắc</a></li>
                    <li><a th:href="@{/category/Ngược}">Ngược</a></li>
                    <li><a th:href="@{/category/Sủng}">Sủng</a></li>
                    <li><a th:href="@{/category/Cung đấu}">Cung đấu</a></li>
                    <li><a th:href="@{/category/Nữ Cường}">Nữ Cường</a></li>
                    <li><a th:href="@{/category/Gia Đấu}">Gia Đấu</a></li>
                    <li><a th:href="@{/category/Đông Phương}">Đông Phương</a></li>
                    <li><a th:href="@{/category/Đô Thị}">Đô Thị</a></li>
                    <li><a th:href="@{/category/Bách Hợp}">Bách Hợp</a></li>
                    <li><a th:href="@{/category/Hài Hước}">Hài Hước</a></li>
                    <li><a th:href="@{/category/Điền Văn}">Điền Văn</a></li>
                    <li><a th:href="@{/category/Cổ Đại}">Cổ Đại</a></li>
                    <li><a th:href="@{/category/Mạt Thế}">Mạt Thế</a></li>
                    <li><a th:href="@{/category/Phương Tây}">Phương Tây</a></li>
                    <li><a th:href="@{/category/Nữ Phụ}">Nữ Phụ</a></li>
                    <li><a th:href="@{/category/Light Novel}">Light Novel</a></li>
                    <li><a th:href="@{/category/Việt Nam}">Việt Nam</a></li>
                    <li><a th:href="@{/category/Khác}">Khác</a></li>
                </ul>
            </div>
        </li>
        <li class="sub">
            <a href="#" class="nav-link" tabindex="0">Danh sách<i class="fas fa-sort-down"></i></a>
            <div class="submenu">
                <ul>
                    <li><a href="/list/new">Truyện mới</a></li>
                    <li><a href="/list/hot">Truyện Hot</a></li>
                    <li><a href="/list/full">Truyện Full</a></li>
                    <li><a href="/list/romance">Ngôn tình hay</a></li>                    
                    <li><a href="/list/time-travel">Xuyên không hay</a></li>
                    <li><a href="/list/most-commented">Bình luận nhiều nhất</a></li>
                </ul>
            </div>
        </li>
        
        <li th:if="${#authentication.principal != 'anonymousUser'}">
            <div class="notification-icon-container">
                <i class="fas fa-bell" onclick="loadNotifications()">
                </i>
                <div id="notification-panel" class="notification-panel">
                    <ul id="notification-list">
                        <li>Đang tải...</li>
                    </ul>
                </div>
            </div>
        </li>        
        
        <li th:if="${#authentication.principal != 'anonymousUser'}" class="dropdown">
            <div class="user-info">
                <img class="avatar" src="\image\c6e56503cfdd87da299f72dc416023d4.jpg" alt="avatar">
                <span th:text="${#strings.arraySplit(fullname,' ')[0]}">Tên</span>
            </div>
            <div class="dropdown-content">
                <!-- Link tới trang profile dựa theo role -->
                <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" 
                   th:href="@{/admin-page}">Profile</a>
                <a th:if="${#authorization.expression('hasAuthority(''USER'')')}" 
                   th:href="@{/user-page}">Profile</a>
                <a th:href="@{/logout}">Logout</a>
            </div>
        </li>
        <li th:unless="${#authentication.principal != 'anonymousUser'}">
            <a th:href="@{/login}" id="login-register-btn">Đăng nhập/Đăng ký</a>
        </li>

    </ul>
</nav>

