<div th:fragment="left-section">
    <div class="left-section">
        <div class="avatar-section">
            <img src="\image\c6e56503cfdd87da299f72dc416023d4.jpg" alt="Avatar" class="avatar-img">
            <h2>Admin Profile</h2>
        </div>
        <div class="profile-info">                
            <div class="info-item">
                <a href="/admin-page" style="text-decoration: none; color: inherit;">
                    <span>Thông tin</span>
                </a>
            </div>
            <div class="info-item">
                <a href="/admin/new-story" style="text-decoration: none; color: inherit;">
                    <span>Thêm truyện</span>
                </a>
            </div>
            <div class="info-item">
                <a href="/admin/stories" style="text-decoration: none; color: inherit;">
                    <span>Danh sách truyện</span>                    
                </a>
            </div>
        </div>
    </div>    
</div>
