body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.container h2, .container h3 {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}

.story-info {
    padding: 20px;
}

.story-details {
    display: flex;
    margin-bottom: 20px;
}

.story-image {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.story-synopsis {
    margin: 10px 0;
}

.author-link {
    color: black; 
    text-decoration: none; 
    transition: color 0.3s, text-decoration 0.3s; 
}

.author-link:hover {
    color: #FFB6C1; 
    text-decoration: underline;
}

.add-chapter {
    padding: 20px;
    width: 35%; 
}

.add-chapter form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-chapter form div {
    display: flex;
    flex-direction: column;
}

.add-chapter label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.add-chapter input[type="text"],
.add-chapter textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.add-chapter textarea {
    min-height: 150px;
}

.add-chapter button {
    padding: 12px 20px;
    background-color: #FFB6C1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-chapter button:hover {
    background-color: #fb93a2;
}

.add-chapter input:focus,
.add-chapter textarea:focus {
    border-color: #FFB6C1;
    outline: none;
}


@media (max-width: 768px) {
    .add-chapter {
        width: 80%;
    }
}

.chapter-list {
    margin-top: 20px;
    padding: 20px;
}

.chapter-list ul {
    list-style-type: none;
    padding: 0;
}

.chapter-list li {
    margin: 10px 0;
}

.chapters-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 10px;  
    margin-bottom: 20px; 
    width: 70%;
}

.chapter-column {
    padding: 0 10px;  
    list-style-type: none;
}

.chapter-column ul {
    margin: 0;
    padding: 0;
}

.chapter-column li {
    margin: 10px 0;  /* Giảm khoảng cách giữa các chương */
}

.chapter-column a {
    text-decoration: none;
    color: black;
    transition-duration: 0.3ms;
}

.chapter-column a:hover {
    text-decoration: underline;
    color: #FFB6C1;
}

.pagination {
    text-align: left;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover {
    background-color: #0056b3;
}
.pagination span {
    font-size: 16px;
    font-weight: bold;
}

.comments textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comments .submit-comment {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.comments .submit-comment:hover {
    background-color: #218838;
}

.rating {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.star {
    color: #FFD700;
    font-size: 20px;
    margin-right: 2px;
}

.rating-info {
    margin-left: 10px;
    color: #333;
    font-size: 16px;
}


.voice-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    margin-left: 10px;
    font-size: 18px;
}

.voice-icon:hover {
    color: #4CAF50;
}

.voice-icon.active i {
    color: #FF6347;
}


.icon-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-circle i {
    font-size: 20px;
    color: #0f0101;
}

.icon-circle:hover {
    background-color: #e0e0e0;
}

.icon-circle.heart-active {
    background-color: #ee5d5d; 
}

.icon-circle.bell-active {
    background-color: #fdd844; 
}

/*modal*/
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.login-link:hover {
    background-color: #45a049;
}
