:root {
    --theme-color: #f97892;
    --theme-opacity-color: rgba(249, 120, 146, 0);
    --blur-0-1-color: #fa869d;
    --blur-0-2-color: #fba1b3;
    --blur-1-color: #fbaebe;
    --blur-2-color: #fdd7de;
    --blur-3-color: #fef2f4;
    --link-color: #bd7c89;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #FFB6C1;
    border-radius: 20px;
    font-size: 16px;
    width: 95%;
    margin-top: 20px;
    margin: 20px auto;
    font-weight: bold;
}
.header a {
    color: #f5f5f5;
    margin-right: 20px;
    text-decoration: none;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.container h2, .container h3 {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}

.story-info {
    padding: 20px;
}

.story-details {
    display: flex;
    margin-bottom: 20px;
    max-height: fit-content;
}

.story-image {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    margin-right: 20px;
    object-fit: cover;
}

.story-synopsis {
    margin: 10px 0;
}

.story-details {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    max-width: 800px;
}

.info {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    font-size: 17px;
}

.info p {
    margin: 20px 0;
}


.author-link {
    color: black; 
    text-decoration: none; 
    transition: color 0.3s, text-decoration 0.3s; 
}

.author-link:hover {
    color: #FFB6C1; 
    text-decoration: underline;
}

.add-chapter {
    padding: 20px;
    margin-left: 20px;
}

.add-chapter form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.add-chapter form div {
    display: flex;
    flex-direction: column;
}

.add-chapter label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.add-chapter input[type="text"],
.add-chapter textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.add-chapter textarea {
    min-height: 150px;
}

.add-chapter button {
    padding: 8px 15px;
    background-color: #FFB6C1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-chapter button:hover {
    background-color: #fb93a2;
}

.add-chapter input:focus,
.add-chapter textarea:focus {
    border-color: #FFB6C1;
    outline: none;
}


@media (max-width: 768px) {
    .add-chapter {
        width: 80%;
    }
}

.chapter-list {
    margin-top: 20px;
    padding: 20px;
}

.chapter-list ul {
    list-style-type: none;
    padding: 0;
}

.chapter-list li {
    margin: 10px 0;
}

.chapters-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 10px;  
    margin-bottom: 20px; 
}

.chapter-column {
    padding: 0 10px;  
    list-style-type: none;
}

.chapter-column ul {
    margin: 0;
    padding: 0;
}

.chapter-column li {
    margin: 10px 0;  /* Giảm khoảng cách giữa các chương */
}

.chapter-column a {
    text-decoration: none;
    color: black;
    transition: color 0.3s, text-decoration 0.3s;
}

.chapter-column a:hover {
    text-decoration: underline;
    color: #FFB6C1;
}

.pagination {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-top: 20px; 
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #FFB6C1;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover {
    background-color: #ff9fae;
}
.pagination span {
    font-size: 16px;
}

.comments textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comments .submit-comment {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #FFB6C1;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
}

.comments .submit-comment:hover {
    background-color: #ff9fae;
}

.comments {
    padding: 20px;
    border-radius: 8px;
}

.comments h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Styling cho textarea */
#comment-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#comment-input:focus {
    border-color: #5c9cd8;
    outline: none;
}

/* Styling cho danh sách bình luận */
#comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: dashed 1px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-user {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.comment-time {
    color: #888;
    font-size: 0.9em;
}

.comment-content {
    padding: 10px; 
    line-height: 1.6;
    background-color: #ffdfe4;
    border-radius: 10px;
    color: rgb(46, 46, 46);
}


.rating {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.star {
    color: #FFD700;
    font-size: 20px;
    margin-right: 2px;
}

.rating-info {
    margin-left: 10px;
    color: #333;
    font-size: 16px;
}


.voice-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    margin-left: 10px;
    font-size: 18px;
}

.voice-icon:hover {
    color: #4CAF50;
}

.voice-icon.active i {
    color: #FF6347;
}


.icon-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-circle i {
    font-size: 20px;
    color: #0f0101;
}

.icon-circle:hover {
    background-color: #e0e0e0;
}

.icon-circle.heart-active {
    background-color: #ee5d5d; 
}

.icon-circle.bell-active {
    background-color: #fdd844; 
}

/*modal*/
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFB6C1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.login-link:hover {
    background-color: #ff9fae;
}

.edit-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #898989;
    font-size: 18px;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: #fb93a2;
}
/* Modal background */
.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed; /* Định vị cố định */
    z-index: 1; /* Đưa modal lên trên các phần tử khác */
    left: 0;
    top: 0;
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    height: 100%; /* Chiếm toàn bộ chiều cao */
    overflow: auto; /* Kích hoạt cuộn nếu nội dung dài */
    background-color: rgb(0, 0, 0); /* Màu nền */
    background-color: rgba(0, 0, 0, 0.4); /* Màu nền với độ mờ */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Căn giữa modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Chiều rộng của modal */
    max-width: 600px; /* Chiều rộng tối đa */
    border-radius: 8px; /* Bo góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

/* Close button */
.close-button {
    color: #aaa;
    float: right; /* Canh phải */
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form elements */
.modal-content div {
    margin-bottom: 15px;
}

.modal-content label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content input[type="file"],
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
}

.modal-content input[type="file"] {
    padding: 3px; /* Đặt padding nhỏ hơn cho input file */
}

.modal-content textarea {
    resize: vertical; /* Cho phép thay đổi kích thước theo chiều dọc */
    height: 100px; /* Chiều cao ban đầu */
}

.modal-content button[type="submit"] {
    background-color: #ff9fae;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.modal-content button[type="submit"]:hover {
    background-color: #FFB6C1;
}

/* Image preview */
.modal-content img {
    width: 200px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.story-comments-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin: 20px 0;
}

.story-info-col {
    flex: 0 0 72%; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left:36px;
}

.comments-col {
    flex: 0 0 22%; 
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 36px;
}
@media (max-width: 768px) {
    .story-comments-container {
        flex-direction: column; 
    }

    .story-info-col,
    .comments-col {
        flex: 0 0 100%; 
    }
}


.blue-title, .related.products h2:first-child {
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: var(--theme-color);
    font-weight: 700;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2;
    position: relative;
}
.blue-title:before, .related.products h2:first-child:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 160px;
    z-index: 1;
    background-color: var(--theme-color);
}
.blue-title:after, .related.products h2:first-child:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    z-index: 0;
    background-color: var(--blur-1-color);
}